@model List<SimpleStoreASP.Models.Pelicula>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Peliculas";

}
<h1>@ViewBag.Title</h1>
<br>
<br>
<table>
    <thead>
        <tr>
			<th>Titulo:</th>
			<th>Duracion:</th>
			<th>Publicación:</th>
			<th>Filmado en:</th>
		</tr>
	</thead>
    <tbody>
		@foreach (var pelicula in Model)
		{
		  <tr>
			<td>@pelicula.Titulo</td>
            <td>@pelicula.Duracion</td>
			<td>@pelicula.Publicacion.ToString("dd/MM/yyy")</td>
			<td>@pelicula.Pais</td>
		</tr>  
		}
	</tbody>
</table>

